@font-face {
	font-family: "Homunculus";
	src: url("font/Homunculus.otf");
}



body
{	
	background-position: top 90% center;
	background-repeat: no-repeat;
	background-image: url("screen/deco.png");
	background-color: #303030;
	color: #F2F2F2;
	font-family: Homunculus, Impact;

}

p, h3, h1, li
{
	text-align: center;	
}

h1
{
	border-radius: 20px 20px 100px 100px;
	background-color: black;
	font-size: 100px;
	box-shadow: 6px 6px 6px #A3A3A3 inset;
	text-shadow: 4px 4px 2px #A3A3A3 ;
}

div, ul
{
	border-radius: 20px 20px 20px 20px ;
	background-color: #2B2B2B;
	box-shadow: 4px 4px 4px #0D0D0D;
}

.droite
{
	text-align: right;
}

h4, h3
{
	font-size: 50px;
}

p
{
	font-size: 30px;
	font-family: Impact
}	

li
{
	font-size: 20px;
}

.image
{
	
}

.fondnoir
{
	
}